/*** CSS Document ***/ 
body{
	background-color: #ebeae1;
	font-size: 14px;
  font-family: 'open sans';
  color: #6d6d6d;
}
img{
	max-width: 100%;
}
.wrapper{
	max-width:940px;
	margin:auto;
}
h1,h2,h3,h4,h5{
  color: #2f2f2f;
}
p{
  padding-bottom:10px;
}
/** header styles **/
header{
  background: #fff;
  width: 100%;
  min-height: 78px;
  box-shadow: 0px 1px 5px #000;
  padding: 20px 0px;
  display: table;
  position: fixed;
  top:0px;
  z-index: 9999;
}
.logo{
  float: left;
  margin-right: 35px;
  margin-top: 5px;
}
.mrb-logo{
    border-right: 1px solid #ddd;
    margin-right: 8px;
    max-width: 70px;
    padding-right: 8px;
    vertical-align: top;
}
nav{
  float: left;
}
nav ul{
  padding: 0px;
  margin: 0px;
}
nav ul li{
  float: left;
  list-style-type: none;
  text-align: center;
  padding:0px 20px;
}
nav ul li a{
  font-size: 16px;
  color: #323232;
  text-decoration: none;
  text-align: center;
  background: url(../images/down-arrow.png) 100% 10px no-repeat;
  padding: 0px 15px;
}
nav ul li:hover a{
  background: url(../images/down-arrow-h.png) 100% 10px no-repeat;
  color: #ed1c32;
}
nav ul li span{
  color: #ed1c32;
  font-size:12px;
}
nav ul li:hover span{
  color: #323232;
}
.login-but{
  float: left;
  margin:8px 0px 0px 30px;
}
.login-but button{
  background: url(../images/login-but.png) left top no-repeat;
  width: 77px;
  color: #fff;
  border:none;
  padding: 6px 0px 5px 0px;
}
.login-but button:hover{
  background: url(../images/login-but.png) left bottom no-repeat;
}
/** content header styles **/
.content-header{
  background: #199332;
  color: #fff;
  text-align: center;
  padding:40px 0px;
}
.content-header h1{
  font-size: 38px;
  font-weight: bold;
  margin: 0px;
  border-bottom:1px solid rgba(38,10,0, 0.2);
  padding-bottom: 10px;
  margin-bottom: 10px;
  color: #fff;
}
/** content styles **/
section{
  padding-top: 85px;
}
/** banner styles **/
.banner{
  background: url(../images/banner-bg.png) left top no-repeat;
  background-size: cover;
  min-height: 560px;
  padding: 30px 0px;
  position: relative;
  margin-bottom: 30px;
}
/** content styles **/
.contentSec{
  text-align: center;
  padding: 10px 0px 40px 0px;
}
.contentSec h1{
  font-size:38px;
  line-height: 38px;
  margin-top: 0px;
}
.red-color{
  color: #ed1c32;
}
.contentSec h1 .smallTitle{
  font-size: 28px;
}
.signupBox{
  float: right;
  width: 356px;
  display: inline-block;
  padding: 20px 30px;
  background: #fff;
  border-radius: 20px;
  border:1px solid #dddfe3;
  text-align: center;
}
.signupBox h1{
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.signupBox h3{
  font-size: 18px;
  font-weight: normal;
  margin: 0px;
}
.signupform{
  margin-top: 20px;
}
.signupform input{
  border:1px solid #ccc8c8;
  width: 100%;
  padding: 10px 8px;
}
.form-group{
  margin-bottom: 15px;
}
.form-control:focus {
    border-color: #199332;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none;
}
.form-control::-moz-placeholder {
    color: #777;
    opacity: 1;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #eee;
    cursor: not-allowed;
    opacity: 1;
}
textarea.form-control {
    height: auto;
}
.sub-title{
  text-align: center;
}
.sub-title h2{
  font-size: 22px;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding-bottom: 10px;
  margin: 20px 0px 30px 0px;
}
.sub-title h2 span.number{
  width: 40px;
  height: 40px;
  float: left;
  background: -webkit-radial-gradient(#fff, #f1f1f1, #333); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(#fff, #f1f1f1, #333); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(#fff, #f1f1f1, #333); /* For Firefox 3.6 to 15 */
  background: radial-gradient(#fff, #f1f1f1, #333); /* Standard syntax */
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  padding: 4px;
  color: #747474;
}
.channelList{
  display: table;
  width: 100%;
}
.channelList .channelBox{
  background: #fff;
  padding: 20px;
  border:1px solid #bfbeb7;
  margin-bottom: 30px;
}
.channelList .channelBox h3{
  font-size: 14px;
}
.channelList .channelBox p{
  font-size: 12px;
}
.channelList .channelBox .default-icon{
  text-align: center;
}
.featureList >div {
  text-align: center;
}
.featureList h2{
  font-size: 18px;
  font-weight: normal;
}
.featureList p{
  text-align: left;
}
.featureList .featurelist{
  margin-bottom: 30px;
}
#featurepage{
  background: #fff;
}
.plansInfo{
  margin-top: 50px;
  margin-bottom: 30px;
}
.plansInfo ul{
  padding: 0px;
  margin: 0px;
}
.plansInfo ul li{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
.plansInfo ul.planBox{
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2.5px 4.33px 8px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2.5px 4.33px 8px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2.5px 4.33px 8px 0px rgba(0, 0, 0, 0.75);
  -o-box-shadow: 2.5px 4.33px 8px 0px rgba(0, 0, 0, 0.75);
  display: inline-block;
  width: 940px;
  position: relative;
  height: 415px;
}
.plansInfo ul li{
  margin-top: 12px;
  margin-bottom: 12px;
  padding-left:12px;
  padding-right: 12px; 
  float: left;
  width: 235px;
  text-align: center;
  border-right: 1px solid #e3e3e3;
}
.plansInfo ul li.plan{
  position: absolute;
}
.plansInfo ul li.plan:hover, .plansInfo ul li.selected{
  width: 255px;
  height: 430px;
  top:-20px;
  padding-top: 18px;
  padding-left: 11px;
  background: #fff;
  position: absolute;
  border:2px solid #199733;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
}
.plansInfo ul li.plan:first-child{
   left:0px;
}
.plansInfo ul li.plan:first-child:hover, .plansInfo ul li.selected:first-child{
  left:-10px;
}
.plansInfo ul li.plan:nth-child(2){
  left: 235px;
}
.plansInfo ul li.plan:nth-child(2) h1{
  color:#f9c203;
}
.plansInfo ul li.plan:nth-child(2):hover, .plansInfo ul li.selected:nth-child(2){
  left: 225px;
}
.plansInfo ul li.plan:nth-child(3){
  left: 470px;
}
.plansInfo ul li.plan:nth-child(3) h1{
  color:#ed1c32;
}
.plansInfo ul li.plan:nth-child(3):hover, .plansInfo ul li.selected:nth-child(3){
  left: 460px;
}
.plansInfo ul li.plan:nth-child(4){
  left: 705px;
}
.plansInfo ul li.plan:nth-child(4) h1{
  color:#199332;
}
.plansInfo ul li.plan:nth-child(4):hover, .plansInfo ul li.selected:nth-child(4){
  left: 695px;
}
.btn-secondray:hover, .plansInfo ul li.plan:hover .btn-secondray, .plansInfo ul li.selected .btn-secondray{
  background: url(../images/choose-but.png) left bottom no-repeat;
}
.plansInfo ul.planBox .price{
  font-size: 24px;
  color: #777777;
}
.plansInfo ul li ul{
  margin-top: 30px;
}
.plansInfo ul li ul li{
  padding: 0px;
  border-top:1px solid #ededed;
  text-align: center;
  padding: 8px 0px;
  width: 100%;
  margin: 0px;
  border-right: none;
}
.plansInfo ul.planBox h1{
  font-size: 36px;
  font-weight: normal;
  margin: 0px;
}
.allplanInfo{
  margin-bottom: 50px;
}
.allplanInfo h2{
  font-size: 24px;
}
.allplanInfo .planBox{
  background: #fff;
  display: table;
  width: 100%;
  padding: 0px 10px 20px 10px;
  border-radius: 5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  -0-border-radius:5px;
  border:1px solid #d9d9d9;
}
.allplanInfo .planBox >div h3{
  font-size: 16px;
}
.allplanInfo .planBox >div img{
  float: left;
  margin-right: 15px;
}
/** footer styles **/
footer{
  background: #199332;
  padding: 40px 0px 0px 0px;
  display: table;
  width: 100%;
}
.topFooter{
  text-align: center;
}
.topFooter h1{
  font-size: 32px;
  color:#fff;
  border-bottom:1px solid rgba(255,255,255,0.2);
  margin-top: 0px;
  padding-bottom: 10px;
}
.bottomFooter{
  background: #ed1c32;
  padding: 15px 0px;
  display: table;
  width: 100%;
  margin-top: 30px;
  color: #fff;
  font-size: 12px;
}
.bottomFooter p{
  margin: 0px;
  padding: 0px;
  float: left;
}
.bottomFooter ul{
  padding: 0px;
  margin: 0px;
  float: right;
}
.bottomFooter ul li{
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  float: left;
}
.bottomFooter ul li a{
  color: #fff;
  padding: 5px;
  text-decoration: none;
}
.blogpage{
  width: 100%;
}
.blogpage .blogArticle{
  background: #fff;
  padding: 15px 30px 15px 30px;
  border-radius: 3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  -o-border-radius:3px;
  box-shadow: 0px 1px 4px #000;
  margin-bottom: 30px;
}
/** button styles **/
.btn{
  font-size: 18px;
  color: #fff;
  text-align: left;
  border:none;
}
.btn-gray{
  background: url(../images/gray-but-bg.png) left top repeat;
  padding: 0px 0px 0px 60px;
  width: 179px;
  height: 53px;
}
.btn-gray:hover{
  background: url(../images/gray-but-bg-h.png) left bottom repeat;
  color:#199332;
}
.btn-signup{
  background: url(../images/signup-but.png) left top repeat;
  padding: 0px 0px 0px 30px;
  width: 238px;
  height: 45px;
  color: #fff;
  text-transform: uppercase;
}
.btn-signup:hover{
  background: url(../images/signup-but-h.png) left bottom repeat;
}
.btn-secondray{
  padding: 11px 0px 11px 0px;
  background: url(../images/choose-but.png) left top no-repeat;
  width: 139px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 20px;
  height: 40px;
}
.btn-secondray:hover{
  background: url(../images/choose-but.png) left bottom no-repeat;
}
/** 
  * responsive styles 
**/
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row:before, .row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-1 {
  width: 8.33333%;
}
.col-xs-2 {
  width: 16.66667%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-4 {
  width: 33.33333%;
}
.col-xs-5 {
  width: 41.66667%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-7 {
  width: 58.33333%;
}
.col-xs-8 {
  width: 66.66667%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-10 {
  width: 83.33333%;
}
.col-xs-11 {
  width: 91.66667%;
}
.col-xs-12 {
  width: 100%;
}

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-1 {
    width: 8.33333%;
  }
  .col-sm-2 {
    width: 16.66667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33333%;
  }
  .col-sm-5 {
    width: 41.66667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33333%;
  }
  .col-sm-8 {
    width: 66.66667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33333%;
  }
  .col-sm-11 {
    width: 91.66667%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-1 {
    width: 8.33333%;
  }
  .col-md-2 {
    width: 16.66667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33333%;
  }
  .col-md-5 {
    width: 41.66667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33333%;
  }
  .col-md-8 {
    width: 66.66667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33333%;
  }
  .col-md-11 {
    width: 91.66667%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/** remove styles 
header, footer, .social-links, .steps-head, .loan-steps-box .row .col-md-12, .loan-steps-box h3{
  display: none;
}
.body-bg{ background: none;}
**/
@media (max-width: 1090px){
  .wrapper{
    margin: 0px 15px;
  }
}
